<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center py-5 text-white">Satisfied Clients</h2>
      <div class="items">
        <div class="card">
          <div class="cust_card_btn_div">
            <a class="cust_card_btn my-5" href="#"> Project </a>
          </div>
          <div class="card-body">
            <h3 class="text-left py-4  ">Satisfied Clients</h3>
            <p class="lead">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
        <div class="card">
          <div class="cust_card_btn_div">
            <a class="cust_card_btn my-5" href="#"> Project </a>
          </div>
          <div class="card-body">
            <h3 class="text-left py-4  ">Satisfied Clients</h3>
            <p class="lead">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
        <div class="card">
          <div class="cust_card_btn_div">
            <a class="cust_card_btn my-5" href="#"> Project </a>
          </div>
          <div class="card-body">
            <h3 class="text-left py-4  ">Satisfied Clients</h3>
            <p class="lead">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
        <div class="card">
          <div class="cust_card_btn_div">
            <a class="cust_card_btn my-5" href="#"> Project </a>
          </div>
          <div class="card-body">
            <h3 class="text-left py-4  ">Satisfied Clients</h3>
            <p class="lead">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
        <div class="card">
          <div class="cust_card_btn_div">
            <a class="cust_card_btn my-5" href="#"> Project </a>
          </div>
          <div class="card-body">
            <h3 class="text-left py-4  ">Satisfied Clients</h3>
            <p class="lead">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
